{%load static%}


<html>
<link href="{% static 'styles.css' %}" rel="stylesheet">
<title> ML Project</title>
<body>

<div class="container">

	<div class='intro'>
		ML PROJECT
	</div>

	<div class='algos'>
		<div class='header'>To see the performed algorithms click below :</div>
		<hr>
		<div class='link'>
			<a href="{% url 'regression' %}"  target='_blank'><strong>Regression</strong></a>
			<a href="{% url 'classification' %}" target='_blank'><strong>Classification</strong></a>
			<a href="{% url 'clustering' %}" target='_blank'><strong>Clustering</strong></a>
		</div>
	</div>

	<div class='comments'>
		<div class='header'>Comments Added</div>
		<hr class="hr">
		{% for comment in comments %}


			<div class="comment-name">
				{{ comment.name }} ~ 
			</div>

			<div class="comment-date">
				{{ comment.date_added }}
			</div>

			<div class='comment-body'>
				{{ comment.body }}
			</div>

			{% empty %}
			<div class='empty'>
				No comments yet!
			</div>
			

		{% endfor %}
			
	</div>


	<div class="add-comment">
		<div class='header' >Add Comments here </div>
		<hr class='hr'>

		<form method="post" action=".">
			{% csrf_token %}

			{{form.as_p}}
			<div class='field'>
				<div class="control">
					<button class="button">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
